<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--Ferre Van Hoof r0785026-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Java Project</title>

</head>
<body>
<div class="container">
    <h1>Project Supermarkt</h1>
    <div>
        <p>Ferre Van Hoof</p>
        <p>2ITF 2 APPAI06</p>
    </div>
    <div>
        <p><a href="/1_NieuweKlant">Nieuwe klant</a></p>
    </div>
    <div>
        <p><a href="/3_NieuwPersoneelslid">Nieuw personeelslid</a></p>
    </div>
</div>


</body>
</html>